@font-face {
  font-family: "ArcadeFont";
  src: url("../static/fonts/ARCADE.TTF") format("truetype");
}
html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: "ArcadeFont", sans-serif;
}

body {
  background: rgb(22, 22, 22);
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  border: 16px solid white;
}

#menu {
  margin-top: 20px;
}

#text {
  position: fixed;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  font-size: 28px;
  color: green;
  text-align: center;
  width: 60vw;
  animation: opacitySinusoidal 0.5s infinite alternate;
}
#container_menu {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#maxScore {
  position: fixed;
  left: 50%;
  bottom: 16px;
  transform: translateX(-50%);
  font-size: 28px;
  color: green;
  text-align: center;
  width: 100vw;
}

#currentScore {
  position: fixed;
  left: 50%;
  bottom: 48px;
  transform: translateX(-50%);
  font-size: 28px;
  color: green;
  text-align: center;
  width: 100vw;
}

#title {
  position: fixed;
  top: 40px;
  width: 100vw;
  font-size: 56px;
  color: green;
  line-height: 1.2;
  text-align: center;
  align-items: center;
  justify-content: center;
}

@keyframes opacitySinusoidal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#game-menu {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin-top: 60px;
}

#game-menu li {
  padding: 24px 0;
  color: green;
  font-size: 48px;
  cursor: pointer;
  user-select: none;
}

#game-menu li:hover {
  color: #00ff00;
  text-shadow: 0 0 8px #00ff00;
}
